replicaCount: 3

env:
  API_URL: "http://merchant-api.merchant-prod.svc:80"
  CDN_URL: "https://cdn.finpay.io"
  FEATURE_KYC_V2: "false"

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi
