apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments-api
  namespace: payments-prod
  labels:
    app: payments-api
spec:
  replicas: 3
  selector:
    matchLabels:
      app: payments-api
  template:
    metadata:
      labels:
        app: payments-api
    spec:
      containers:
        - name: payments-api
          image: nginx:1.25-alpine
          ports:
            - containerPort: 80
          env:
            - name: LOG_LEVEL
              value: "warn"
            - name: DB_HOST
              value: "postgres-prod.finpay.internal"
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: payments-api
  namespace: payments-prod
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
  selector:
    app: payments-api
