replicaCount: 1

env:
  LOG_LEVEL: "debug"
  DB_HOST: "postgres-dev.finpay.internal"
  DB_NAME: "payments_dev"

resources:
  requests:
    cpu: 25m
    memory: 32Mi
  limits:
    cpu: 100m
    memory: 128Mi
